# Configurações da API
# A API lê API_PORT ou PORT (fallback)
API_PORT=3000
PORT=3000
NODE_ENV=development

# Credenciais do Prisma Box
PRISMA_USERNAME=leonardo.freire
PRISMA_PASSWORD=Boxfacil145@

# Configurações do Supabase
SUPABASE_URL=https://uqzlilifrboerjqtuhky.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVxemxpbGlmcmJvZXJqcXR1aGt5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc1MDQ1OTgsImV4cCI6MjA3MzA4MDU5OH0.Z47uHFrFvnWRsaPm-UCaephR-zRRb1fSen4eIzj2twk
